.navbar-brand img{
    width: 100px;
}
.single-item-image{
    width: 100%;
    padding: 15px;
    border-radius: 30px;
}
.form-control:focus, 
.btn-dark:focus{
    box-shadow: none;
}
#cancelButton{
    width: 30px;
}